
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.products{
    padding: 2rem;
    text-align: center;
}
.products h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #222;
    font-family: "Lato", sans-serif;
}
.products--grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}